.obstacle-marker {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: orange;
  border: 2px solid black;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 12px;
  font-weight: bold;
  color: black;
  cursor: pointer;

  box-sizing: border-box;
}

.obstacle-marker-lp1,
.obstacle-marker-lp2,
.obstacle-marker-lp3,
.obstacle-marker-lp4,
.obstacle-marker-lp5 {
  background: orange;
}

.obstacle-marker-semafor {
  background: lightgreen;
}

.obstacle-marker-kamera {
  background: red;
  color: white;
}

.obstacle-marker img {
  width: 30px;
  height: 30px;
  object-fit: contain;
  pointer-events: none;
}
.route-point-marker {
  width:32px;
  height: 32px;
  border-radius: 50%;
  background-color: blue;
  border: 2px solid white;

  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  font-weight:bold;
  font-size: 14px;
  box-sizing:border-box;
}
.mapboxgl-popup-content{
  padding: 0;
  border-radius: 10px;
  overflow: hidden;
}
.obstacle-popup{
  min-width: 180px;
  padding: 14px;
}
.obstacle-popup-title{
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: bold;
  text-transform: capitalize;
  color: black;
}
.delete-obstacle-button{
  width: 100%;
  min-height:40px;
  padding:10px 14px;
  border: none;
  border-radius: 6px;
  background: white;
  color: red;
  font-size:14px;
  font-weight:bold;
  cursor: pointer;
}
.delete-obstacle-button:hover{
  background: orange;
}
.line-obstacle-point-marker {
  width: 32px;
  height: 32px;
  border: 2px solid white;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  background: darkorange;
  color: white;
  font-weight: bold;
  box-sizing: border-box;
}